:root {
    --main-bg-color: rgb(248, 249, 250);
    --hover-bg: linear-gradient(to right, #f3c4ca, #cfd0F0);
    --btn-color: lightcoral;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'RIDIBatang';
}

::selection {
    color: var(--main-bg-color);
    background-color: var(--btn-color);
}

body {
    background: var(--main-bg-color);
}

span.indent_hidden {
    display: none;
}

a,
:visited {
    color: black;
    text-decoration: none;
}

header {
    height: 60px;
    background: var(--main-bg-color);
}

div.top {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 0 auto;
    width: 1000px;
    height: 100%;
}

div.home {
    text-align: center;
    font-size: 35px;
    margin: 10px 0px;
    display: inline-block;
}

div.home a:hover {
    color: var(--btn-color);
}

div.top a {
    font-family: 'BMEULJIRO';
    color: #505050;
}

header > div > form > input {
    margin: 15px auto;
    height: 35px;
    width: 350px;
    border: 0px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    padding: 8px;
    outline: none;
}

div.login {
    width: 220px;
    margin: 10px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #505050;
}

div.login a:hover {
    color: var(--btn-color);
}

div.nickname {
    font-family: 'BMEULJIRO';
}

div.main_layer {
    width: 1150px;
    margin: 20px auto;
    height: 750px;
    text-align: left;
}

div.book-container {
    background-color: white;
    width: 200px;
    height: 340px;
    margin: 10px;
    display: inline-block;
    padding-bottom: 5px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 16px 0px;
    border-radius: 4px;
    transition: box-shadow 0.15s ease-in 0s, transform 0.15s ease-in 0s;
}

div.book-container:hover {
    box-shadow: rgba(0, 0, 0, 0.14) 0px 4px 16px 0px;
    transform: translateY(-5px);
}

div.line {
    width: 940px;
    height: 1px;
    background-color: rgb(3, 3, 3);
    display: inline-block;
    margin-bottom: 5px;
}

div.best {
    font-size: 20px;
    padding: 5px;
    display: inline-block;

}

div.book-container img.thumnail {
    height: 250px;
    width: 200px;
}

div.book-container .bookname,
div.book-container .author {
    overflow: hidden;
    height: 20px;
    padding: 4px 10px;
}

div.btn-container div.btn {
    padding: 2px;
    width: 40px;
    text-align: center;
    border-radius: 3px;
    display: inline-block;
    margin: 3px;
    float: right;
    color: var(--btn-color);
}

div.btn-container div.btn:hover {
    background: var(--hover-bg);
    color: white;
}

div.btn-container div.price_box {
    padding: 6px;
    width: 80px;
    text-align: center;
    display: inline-block;
    float: left;
}

input.check {
    float: left;
}

div.btn-container div.bookname,
div.btn-container div.autuor {
    overflow: hidden;
}

div.btn-container input.check {
    margin: 10px 5px;
    border-radius: 7px;
}

div.btn-wrap {
    width: 300px;
    display: block;
    margin-left: 940px;
}

input.select_buy_btn {
    display: inline-block;
    font-size: 15px;
    padding: 6px;
    margin: 0px 10px;
    border: 0px;
    border-radius: 4px;
    background-color: var(--main-bg-color);
    color: var(--btn-color);
}

input.select_buy_btn:hover {
    background: var(--hover-bg);
    color: white;
}

div.detail {
    margin: 40px auto;
    width: 800px;
    height: auto;
}

div.buy-layout {
    height: 300px;
    padding-bottom: 50px;
    border-bottom: 1px dashed black;
}

div.buy-layout img {
    margin: 0px 80px 0px 0px;
    height: 300px;
    float: left;
    box-shadow: 0px 4px 20px 0px rgb(0 0 0 / 50%);
}

div.buy-layout div.bookname {
    font-size: 40px;
    line-height: 1.3em;
    font-weight: 700;
    word-break: keep-all;
    word-wrap: break-word;
    padding-top: 20px;
}

div.buy-layout div.author {
    font-size: 18px;
    color: #666;
    line-height: 1em;
    font-weight: 700;
    padding: 10px;
    overflow: hidden;
    height: 20px;
}

div.buy-layout div.price {
    margin: 50px 0px 30px 0px;
}

div.buy-layout div.btn a {
    margin: 0px 30px 0px 0px;
    padding: 0px 10px;
    font-size: 15px;
    float: right;
    height: 45px;
    line-height: 46px;
    cursor: pointer;
    border-radius: 3px;
    color: var(--btn-color);
}

div.buy-layout div.btn a:hover {
    background: var(--hover-bg);
    color: white;
}

div.description {
    padding: 30px;
    font-size: 15px;
    border-bottom: 1px dashed black;
}

div.description img {
    width: 740px;
}

div.writecomment {
    width: 800px;
    height: 100px;
    border-bottom: 1px dashed black;
}

div.writecomment textarea {
    margin: 10px 10px;
    width: 710px;
    height: 78px;
    background: var(--main-bg-color);
    resize: none;
    overflow: auto;
    border: 0px;
}

div.writecomment input {
    border: 0px;
    margin: 25px 10px 0px 0px;
    padding: 0px 10px;
    font-size: 15px;
    float: right;
    height: 48px;
    line-height: 46px;
    cursor: pointer;
    border-radius: 4px;
    background-color: var(--main-bg-color);
    color: var(--btn-color);
}

div.writecomment input:hover {
    background: var(--hover-bg);
    color: white;
}

div.comment {
    height: 80px;
    overflow: hidden;
    border-bottom: 1px solid lightgray;
}

div.comment div.username {
    padding: 10px;
    font-weight: 600;
}

div.comment div.usercomment {
    padding: 0px 30px;

}

p.check {
    font-size: 30px;
}

div.buylist div.book {
    display: inline-block;
    height: 300px;
    width: 100%;
    border-bottom: 1px solid black;
    padding: 50px 0px;
}

div.buylist img {
    height: 300px;
    width: 200px;
    float: left;
    margin: 0px 50px;
    box-shadow: 0px 4px 30px 0px rgb(0 0 0 / 15%);
}


div.buylist div.bookname {
    display: inline-block;
    margin: 50px;
    width: 700px;
    font-size: 35px;
}

div.buylist div.author {
    display: inline-block;
    margin: 0px 50px;
    width: 700px;
    font-size: 25px;
}

div.buylist div.price {
    display: inline-block;
    margin: 50px 150px;
    width: 150px;
    font-size: 20px;
    float: right;
}

div.emptybasket {
    padding: 250px;
    text-align: center;
}

div.empty {
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
}

i.fa-truck-moving {
    font-size: 100px;
    color: gray;
    margin: 10px 100px;

}

i.fa-search {
    font-size: 100px;
    color: gray;
    margin: 10px 100px;
}

div.checklist {
    margin: 10px auto;
    width: 100%;
}

div.checklist div.info {
    display: inline-block;
    margin: 20px 80px;
}

div.checklist form input {
    padding: 5px;
    margin: 0px 10px;
    width: 200px;
    height: 20px;
    border: 0px;
    border-bottom: 1px solid black;
    background-color: var(--main-bg-color);
}

div.checklist form input.addr {
    width: 500px;
}

div.checklist form label {
    display: block;
    margin: 10px;
}

div.purchase {
    margin: 60px 80px;
    width: 200px;
    display: inline-block;
    float: right;
}

div.purchase div {
    margin: 15px;
}

div.purchase div.money {
    text-align: end;
    margin: 0px 5px;
    width: 100px;
    display: inline-block;
}

div.checklist form input.purchase-btn {
    font-size: 16px;
    width: 100px;
    height: 40px;
    padding: 10px;
    background-color: var(--main-bg-color);
    margin: 0px 0px 0px 40px;
    border: 0px;
    border-radius: 3px;
    color: var(--btn-color);
}

div.checklist form input.purchase-btn:hover {
    background: var(--hover-bg);
    color: white;
}

li.paging {
    width: 400px;
    height: 30px;
    display: block;
    margin: 30px auto;
    text-align: center;
}

ul {
    display: inline-block;
    margin: 2px;
}

ul a {
    padding: 5px 10.5px;
    display: inline-block;
    border-radius: 3px;

}

ul a:hover {
    background: var(--hover-bg);
    color: white;
}

p.mypage-text {
    margin: 10px;
    font-size: 30px;
}

div.mypage-container {
    margin: 10px auto;
    width: 400px;
    height: 100%;
    display: inline-block;
}

div.mypage-container label {
    margin: 10px;
    width: 300px;
    display: block;
}

div.mypage-container input {
    margin: 20px 60px;
    width: 250px;
    height: 30px;
    font-size: 15px;
    border: 0px;
    background-color: var(--main-bg-color);
    border-bottom: 1px solid gray;
}

div.remain {
    display: inline-block;
}

input.update-btn {
    width: 70px;
    height: 30px;
    font-size: 15px;
    background-color: var(--main-bg-color);
    margin: 20px;
    border-radius: 3px;
    color: var(--btn-color);
    border: 0px;
}

input.update-btn:hover {
    background: var(--hover-bg);
    color: white;
}

div.mybuylist {
    width: 900px;
    margin: 40px auto;
    text-align: center;
}

div.mybuylist li {
    list-style-type: none;
}

div.mybuylist ul {
    padding: 20px;
    margin: 10px auto;
    border-bottom: 1px dashed black;
}

div.mybuylist img {
    height: 200px;
    width: 150px;
    margin: 0px;
    float: left;
}

div.mybuylist .buyname {
    display: inline-block;
    width: 500px;
    font-size: 30px;
    margin: 30px;
}

div.mybuylist .buyauthor {
    display: inline-block;
    width: 400px;
    font-size: 20px;
    margin: 10px 60px;
}

div.mybuylist .buyprice {
    display: inline-block;
    font-size: 20px;
}
