* {
    margin: 0;
    padding: 0;
}

a,
:visited {
    color: black;
    text-decoration: none;
}

header {
    height: 60px;
    background-color: lightgray;
    box-shadow: 0px 4px 30px -20px rgba(0, 0, 0, 0.75);
}

div.top {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 0 auto;
    width: 1000px;
    height: 100%;
}

div.home {
    text-align: center;
    font-size: 40px;
    width: 20%;
    height: 100%;
    display: inline-block;
}

header > div > form {
    height: 100%;

}

header > div > form > input {
    margin: 15px auto;
    height: 30px;
    width: 300px;
    border: 0px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    padding: 8px;
    outline: none;
}

div.login {
    width: 20%;
    height: 100%;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div.main_layer {
    width: 1150px;
    margin: 20px auto;
    height: 750px;
    text-align: left;
    
}

div.book-container {
    width: 165px;
    height: 330px;
    margin: 30px;
    display: inline-block;
    border-bottom: 1px dashed gray;
}

img.thumnail {
    height: 250px;
    width: 165px;
    box-shadow: 0px 4px 20px 0px rgb(0 0 0 / 24%);
}

div.btn-container {
    display: flex;
    justify-content: center;
}

div.btn {
    margin: 5px;
}

div.bookname,
div.autuor {
    overflow-x: hidden;
}
