* {
    margin: 0;
    padding: 0;
    font-family: 'RIDIBatang';
}

body {
    background-color: #f9f9f9;
}

span.indent_hidden {
    display: none;
}

a,
:visited {
    color: black;
    text-decoration: none;
}

header {

    height: 60px;
    background-color: darkseagreen;
    box-shadow: 0px 4px 30px -20px rgba(0, 0, 0, 0.75);
}

div.top {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 0 auto;
    width: 1000px;
    height: 100%;
}

div.home {
    font-family: 'BMEULJIRO';
    text-align: center;
    font-size: 40px;
    margin: 10px;
    display: inline-block;

}

div.top a {
    font-family: 'BMEULJIRO';
    color: white;
}

header > div > form {
    height: 100%;

}

header > div > form > input {
    margin: 15px auto;
    height: 30px;
    width: 300px;
    border: 0px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    padding: 8px;
    outline: none;
}

div.login {
    color: white;
    width: 20%;
    height: 100%;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.main_layer {
    width: 1150px;
    margin: 20px auto;
    height: 750px;
    text-align: left;

}

div.book-container {
    width: 165px;
    height: 330px;
    margin: 30px;
    display: inline-block;
    border-bottom: 1px dashed gray;
}

div.book-container img.thumnail {
    height: 250px;
    width: 165px;
    box-shadow: 0px 4px 20px 0px rgb(0 0 0 / 24%);
}

div.book-container .bookname,
div.book-container .author {
    overflow: hidden;
    height: 20px;
}

div.btn-container {
    display: flex;
    justify-content: center;
}

div.btn-container div.btn {
    padding: 2px;
    margin: 3px;
    border: 1px solid black;
    border-radius: 3px;
}

div.btn-container div.btn:hover {
    background-color: black;
    color: white;
}

div.btn-container div.price_box {
    padding: 2px;
    margin: 5px;
}

div.btn-container div.bookname,
div.btn-container div.autuor {
    overflow: hidden;
}

div.btn-container input.check {
    margin: 10px 5px;
    border-radius: 7px;
}

input.select_buy_btn {
    display: block;
    padding: 10px;
    margin: 0px 30px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: white;

}

div.detail {
    margin: 40px auto;
    width: 800px;
    height: auto;
}

div.buy-layout {
    height: 300px;
    padding-bottom: 50px;
    border-bottom: 1px dashed black;
}

div.buy-layout img {
    margin: 0px 80px 0px 0px;
    height: 300px;
    float: left;
    box-shadow: 0px 4px 20px 0px rgb(0 0 0 / 50%);
}

div.buy-layout div.bookname {
    font-size: 40px;
    line-height: 1.3em;
    color: #333;
    font-weight: 700;
    word-break: keep-all;
    word-wrap: break-word;
    padding-top: 20px;
}

div.buy-layout div.author {
    font-size: 18px;
    color: #666;
    line-height: 1em;
    font-weight: 700;
    cursor: pointer;
    padding: 10px;
    overflow: hidden;
    height: 20px;
}

div.buy-layout div.price {
    margin: 80px 0px 30px 0px;
}

div.buy-layout div.btn a {
    border: 1px solid black;
    margin: 0px 30px 0px 0px;
    padding: 0px 10px;
    font-size: 15px;
    float: right;
    height: 48px;
    line-height: 46px;
    cursor: pointer;
    border-radius: 7px;
    transition: 200ms;
}

div.buy-layout div.btn a:hover {
    background-color: black;
    color: white;
}

div.description {
    padding: 30px;
    font-size: 15px;
    border-bottom: 1px dashed black;
}

div.writecomment {
    width: 800px;
    height: 100px;
    border-bottom: 1px dashed black;
}

div.writecomment textarea {
    margin: 10px 10px;
    width: 710px;
    height: 78px;
    background-color: #f9f9f9
}

div.writecomment input {
    border: 1px solid black;
    margin: 40px 10px 0px 0px;
    padding: 0px 10px;
    font-size: 15px;
    float: right;
    height: 48px;
    line-height: 46px;
    cursor: pointer;
    border-radius: 7px;
    background-color: white;
}

div.comment {
    height: 80px;
    overflow: hidden;
    border-bottom: 1px solid lightgray;
}

div.comment div.username {
    padding: 10px;
    font-weight: 600;
}

div.comment div.usercomment {
    padding: 0px 30px;

}

p.check {
    font-size: 30px;
}

div.buylist div.book {
    display: inline-block;
    height: 300px;
    width: 100%;
    border-bottom: 1px solid black;
    padding: 50px 0px;
}

div.buylist img {
    height: 300px;
    width: 200px;
    float: left;
    margin: 0px 50px;
    transition: box-shadow 200ms ease-in-out
}

div.buylist img:hover {
    box-shadow: 0px 4px 20px 0px rgb(0 0 0 / 35%);
}

div.buylist div.bookname {
    display: inline-block;
    margin: 50px;
    width: 700px;
    font-size: 35px;
}

div.buylist div.author {
    display: inline-block;
    margin: 0px 50px;
    width: 700px;
    font-size: 25px;
}

div.buylist div.price {
    display: inline-block;
    margin: 50px 150px;
    width: 150px;
    font-size: 20px;
    float: right;
}

div.checklist {
    margin: 0px auto;
    width: 100%;
}

div.checklist div.info {
    display: inline-block;
    margin: 20px 80px;
}

div.checklist form input {
    padding: 5px;
    margin: 0px 10px;
    width: 200px;
    height: 20px;
    border: 0px;
    box-shadow: 0px 4px 20px 0px rgb(0 0 0 / 15%);
    border-radius: 5px;
}

div.checklist form input.addr {
    width: 500px;
}

div.checklist form label {
    display: block;
    margin: 10px;
}

div.purchase {
    margin: 60px 80px;
    width: 200px;
    display: inline-block;
    float: right;
}

div.purchase div {
    margin: 15px;
}

div.purchase div.money {
    text-align: end;
    margin: 0px 5px;
    width: 100px;
    display: inline-block;
}

div.checklist form input.purchase-btn {
    font-size: 16px;
    width: 100px;
    height: 40px;
    padding: 10px;
    background-color: palegreen;
    margin: 0px 0px 0px 40px;
    border: 1px solid green;
    transition: 300ms background;
}

div.checklist form input.purchase-btn:hover {
    background-color: green;
}

li.paging {
    width: 400px;
    height: 30px;
    display: block;
    margin: 30px auto;
    text-align: center;
}

ul {
    display: inline-block;
    margin: 2px;
}

ul a {
    border: 1px solid black;
    padding: 5px 10.5px;
    display: inline-block;
    border-radius: 3px;

}

ul a:hover {
    background-color: black;
    color: white;
}

p.mypage-text {
    margin: 10px;
    font-size: 30px;
}

div.mypage-container {
    margin: 10px auto;
    width: 400px;
    height: 100%;
    display: inline-block;
}

div.mypage-container label {
    margin: 10px;
    width: 300px;
    display: block;
}

div.mypage-container input {
    margin: 20px 60px;
    width: 250px;
    height: 30px;
    font-size: 15px;
    border: 0px;
    border-bottom: 1px solid gray;
    background-color: #f9f9f9;
}

span.remain {
    margin: 100px 0px 0px;
}

input.update-btn {
    width: 70px;
    height: 30px;
    background-color: white;
    border: 1px solid black;
    margin: 20px;
    border-radius: 3px;
}

input.update-btn:hover {
    background-color: black;
    color: white;

}

div.buylist {
    width: 900px;
    margin: 40px auto;
}

div.buylist li {
    list-style-type: none;
}

div.buylist ul {
    padding: 20px;
    margin: 10px auto;
    border-bottom: 1px dashed black;
}

div.buylist img {
    height: 200px;
    width: 150px;
    margin: 0px;
}

div.buylist .buyname {
    display: inline-block;
    width: 600px;
    font-size: 30px;
    margin: 30px;
}

div.buylist .buyauthor {
    display: inline-block;
    width: 400px;
    font-size: 20px;
    margin: 10px 60px;
}

div.buylist .buyprice {
    display: inline-block;
    font-size: 20px;
}
