<!DOCTYPE html>
<html lang="ko">
<!--로그인 페이지-->

<head>
    <meta charset="utf8mb4">
    <title>Log In</title>
    <link rel="stylesheet" href="../css/login.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</head>

<body>
    <div class="main-register">
        <p class="sign" align="center">REGISTER</p>
        <form class="form1" action="../php/register_process.php" method=post>
            <input class="un" type="text" align="center" placeholder="ID" name="id">
            <input class="pass" type="password" align="center" placeholder="Password" name="pw">
            <input class="un" type="text" align="center" placeholder="Nickname" name="nick">
            <input class="un" type="text" align="center" placeholder="Name" name="name">
            <input class="un" type="text" align="center" placeholder="Address" name="addr">
            <input class="un" type="text" align="center" placeholder="Phone" name="phone">
            <input class="btn" type="submit" align="center" value="Sign Up">
        </form>

    </div>

</body>

</html>
